# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/
.venv/
.env/

# Distribution / packaging
build/
dist/
*.egg-info/
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
coverage.xml
.cache
.pytest_cache/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Editor / IDE files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# OS files
.DS_Store
Thumbs.db

# dotenv environment files
.env
.env.*

# configs
config.py

# MyPy
.mypy_cache/

# Pyre
.pyre/

# Pytype
.pytype/

# Cython debug symbols
cython_debug/

# Logs
*.log
